.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.table{
  width:auto;
    height: auto;
  margin:auto;
}

.table tr td{
  margin-bottom: 50px !important;
}

.table thead tr :hover  {
  cursor: pointer !important;
}

.competition:hover{
    background-color: black;
    color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
